<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center gap-3 w-100" style="min-height: calc(100vh - 100px);">
      <a href="/email_form" class="btn btn-success w-50">Form</a>
      <a href="/email_history" class="btn btn-warning w-50">History</a>
    </div>
  </body>
</html>
